---
---

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>Pixi.js in Astro</title>
  </head>
  <body>
    <style>
      /* 确保 body 和 html 元素没有边距和内边距 */
      .music-game{
          margin: 0;
          padding: 0;
          overflow: hidden; /* 隐藏滚动条 */
          width: 100%;
          height: 100%;
      }
      body, html {
        margin: 0;
        padding: 0;
        overflow: hidden; /* 隐藏滚动条 */
        width: 100%;
        height: 100%;
      }
    </style>
    <button id="myButton">开始游戏</button>
    <button id="myAudio">播放音乐</button>
    <div class="music-game" id="musicGame"></div>
    <script src="../scripts/game.ts"></script>
  </body>
</html>