---
---

<html lang="zh-CN">
  <head>
    <title>Pixi.js in Astro</title>
  </head>
  <body>
    <style>
      /* 确保 body 和 html 元素没有边距和内边距 */
      html, body {
          margin: 0;
          padding: 0;
          overflow: hidden; /* 隐藏滚动条 */
          width: 100%;
          height: 100%;
      }

      /* 确保画布占满整个窗口 */
      canvas {
          display: block; /* 避免画布下方出现空白 */
          width: 100%;
          height: 100%;
      }
  </style>
    <script src="../scripts/game.ts"></script>
  </body>
</html>